# Default ignored files
/../../../adsız klasör/animecix_scraper/.idea/shelf/
/../../../adsız klasör/animecix_scraper/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../adsız klasör/animecix_scraper/.idea/httpRequests/
# Datasource local storage ignored files
/../../../adsız klasör/animecix_scraper/.idea/dataSources/
/../../../adsız klasör/animecix_scraper/.idea/dataSources.local.xml
